body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.sectionFirst {
  height: 660px;
  background: #86e3ad;
  background: #00dbbe; /* Old browsers */
  background: -moz-linear-gradient(left, #00dbbe 0%, #4b6abf 100%, #e1ffff 100%, #e1ffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #00dbbe 0%,#4b6abf 100%,#e1ffff 100%,#e1ffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #00dbbe 0%,#4b6abf 100%,#e1ffff 100%,#e1ffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dbbe', endColorstr='#e1ffff',GradientType=1 ); /* IE6-9 */
}

.texto, .texto2 {
  color: red;
  font-size: 16px;
  font-family: helvetica;
}

h1 {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 50px;
  color: #fff;
}

h3 {
  color: #fff;
}

.form {
  padding: 40px 70px;
  margin-top: 100px;
  margin-bottom: 10px;
  background-color: #09687d;
  border-radius: 10px;
  display: inline-block;
}


.nombre {
  margin-top: 20px;
  padding: 15px 20px;
  width: 300px;
  border-radius: 6px;
  border: 1px solid #b6bbb8;
  outline: none;
}

.contraseña {
  padding: 15px 20px;
  width: 300px;
  border-radius: 6px;
  border: 1px solid #b6bbb8;
  margin-top: 25px;
  outline: none;
}

.sendbtn {
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 10px 15px;
  outline: none;
}

.sendbtn:hover {
  background-color: #4b6abf;
  border: 1px solid #4b6abf;
}

.fa {
  margin: 5px;
  color: #484b4d;
}

.btn-default {
  border: none;
  margin: 5px;
}

.sectionSecond {
  margin-top: 15px;
}
